<nav class="navbar">
    

    <!-- <ul class="nav-list">      
          
      <li class="nav-item"><a routerLink="">Check-In🛎️</a></li>
      <li class="nav-item"><a routerLink="/reservations">Reservations🔖</a></li>
      <li class="nav-item"><a routerLink="/addPolicy">Insert Package⬇️</a></li>
      <li class="nav-item"><a routerLink="/allPolicies">Packages🧳</a></li>
      <li class="nav-item"><a routerLink="/users">User👤</a></li>
      <li class="nav-item"><h2 class="title">CheckInn🏨  &nbsp;<a (click)="onClick()" routerLink="/login">
        <img style="max-width: 30px;" src="..\assets\logout.jpg" alt="Logo"></a ></h2></li>  
   
    </ul> -->

    <!DOCTYPE html>
<html lang="en">

<body>

    <nav>
        <div class="container">
            <a routerLink="" class="logo">Check-In🛎️</a>
            <ul>
                <li><a routerLink="/reservations">Reservations🔖</a></li>
                <li><a routerLink="/pricing">pricing</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a href="#">Portfolio</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>
  
