<nav class="navbar">
    

    <ul class="nav-list">
        <li><div class="logo">
            <img src="..\assets\sun02.png" alt="Logo">
          </div></li>
      
          
      <li class="nav-item"><a routerLink="/home">Check-In🛎️</a></li>
      <li class="nav-item"><a routerLink="/addContract">Insert Package⬇️</a></li>
      <li class="nav-item"><a routerLink="/allContracts">Packages🧳</a></li>
      <li class="nav-item"><a routerLink="/markUps">Profits💹</a></li>
      <li class="nav-item"><a routerLink="/agents">User👤</a></li>
      <li class="nav-item"><h2 class="title">CheckInn🏨  &nbsp;<a (click)="onClick()" routerLink="/login">
        <img style="max-width: 30px;" src="..\assets\logout.jpg" alt="Logo"></a ></h2></li>  
   
    </ul>
    
  </nav>
  
