<nav class="navbar">
    

    <!DOCTYPE html>
<html lang="en">

<body>

    <nav>
        <div class="container">
            <a routerLink="" class="logo">Check-In🛎️</a>
            <ul>
                <li><a routerLink="/reservations">Reservations🔖</a></li>
                <li><a routerLink="/pricing">pricing</a></li>
                <li><a routerLink="/about">About</a></li>
                <li><a routerLink="/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

</body>
</html>
  
