/* .navbar {
    background-color: #071b90;
    padding: 1px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    
  }
  
  .nav-item {
    margin-right: 15px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
  }
  
  .logo {
    margin-right: 20px; 
  }
  
  .logo img {
    max-width: 25px; 
  }

 

  .nav-item a:hover {
    color: #58a6ff;
  }

  li.nav-item:last-child {
    margin-left: auto; 
  }

  .title {
    color: #ffcc00;
    font-size: 28px; 
    font-weight: bold;
    
  }
   */

   /* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
    z-index: 9990;
}

body {
  font-family: sans-serif;
}

/* Navbar Styles */
nav {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease; 
}

nav ul li a:hover {
  background-color: #555;
}